<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>居民列表</title>
</head>

<body>

<div class="contentDiv">

    <h5> 后台管理系统 </h5>

    <table class="table table-hover table-condensed">
        <legend>
            <strong>居民列表</strong>
        </legend>
        <thead>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>电话号码</th>
            <th>银行卡</th>
            <th>余额</th>
            <th>密码</th>
            <th>社区</th>
            <th>建筑</th>
            <th>单元</th>
            <th>楼层</th>
            <th>房间</th>
            <th>爱好</th>
            <th>简介</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="resident : ${residents}">
            <th scope="row" th:text="${resident.id}"></th>
            <td><a th:href="@{/manager/update/{id}(id=${resident.id})}" th:text="${resident.name}"></a></td>
            <td th:text="${resident.sex}"></td>
            <td th:text="${resident.age}"></td>
            <td th:text="${resident.telephoneNumber}"></td>
            <td th:text="${resident.bankCardNumber}"></td>
            <td th:text="${resident.balance}"></td>
            <td th:text="${resident.password}"></td>
            <td th:text="${resident.communityName}"></td>
            <td th:text="${resident.buildingNumber}"></td>
            <td th:text="${resident.unitName}"></td>
            <td th:text="${resident.floorNumber}"></td>
            <td th:text="${resident.roomNumber}"></td>
            <td th:text="${resident.hobby}"></td>
            <td th:text="${resident.selfIntroduction}"></td>



            <td><a class="btn btn-danger" th:href="@{/manager/delete/{residentId}(residentId=${resident.id})}">删除</a></td>
        </tr>
        </tbody>
    </table>

    <div><a class="btn btn-primary" href="/manager/create" role="button">新增居民</a></div>
</div>

</body>
</html>